@media (min-width: 768px) {
    /*Хедер на планшете*/
    .call-icon {
    display: block;
    margin-left: auto;
    }
    .chat-icon {
        display: block;
    }
    .account-icon {
        display: block;
    }
    .border-between-logo {
        display: block;
    }
    .header {
        display: flex;
        flex-direction: row;
        height: 3em;
    }

    /*Контент на планшете*/
    .blog__post {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 300px;;
    }
    .read-more-button {
        display: flex;
        white-space: nowrap;
        align-items: center;
    }
    .blog__flex-item {
        width: 45%;
    }
    .read-more-button--mobile {
        display: none;
    }
    #more {
        display: inline;
    }
}


@media (min-width: 1120px) {
    /*new header*/
    .header {
        display: none;
    }
    .desktop-header {
        display: flex;
        flex-direction: row;
    }
    .menu__button {
        display: flex;
        margin-left:  auto;
    }
    .menu__button--content {
        margin-right: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    /*delete overflow*/
    .menu__list {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        flex-wrap: wrap;
    }
    .menu__item:nth-child(8) {
        margin-left: 35px;
    }
    .blog__image {
        max-width: 500px;
        height: auto;
    }
}