body {
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1px 1fr 1fr;
    grid-template-rows: 1;
    padding: 20px;
    gap:15px;
    align-items: center;
    background-color: #fff;
    border-bottom: #D9FFF5 1px solid;
}
svg {
    transition: 0.8s;
    transform: scale(1.0);
}
svg:hover {
    transition: 0.8s;
    transform:scale(1.1);
}
.container {
    background-color: rgba(248, 248, 248, 1);
}
.menu {
    display: flex;
    flex-direction: column;
}
.menu__title {
    padding: 0 20px;
    font-family: TTLakesBold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    border-left: 4px solid #41F6D7;
    margin-bottom: 20px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.menu__item {
    margin: 10px;
    margin-top: 5px;
    font-family: TTLakesMedium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba(126, 126, 130, 1);
;
}
.menu__item:first-child{
    margin-left: 35px;
}

.menu__item--link {
    transition: 0.8s;
    text-decoration: none;
    padding: 10px;
}
.menu__item--text{
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}
.menu__item--link:active{
    border: 2px solid #41F6D7;
    border-radius: 6px;
    background-color: #fff;
}
.menu__item--link:hover{
    transition: 0.8s;
    transform: scale(1.1);
    border: 2px solid #41F6D7;
    border-radius: 6px;
    background-color: #fff;
}
.blog__content {
    margin: 15px 0px;
    padding: 0 35px;
}
.blog__content--style{
    font-family: TTLakesRegular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.read-more-button {
    align-self: start;
    margin-left: 20px;
    margin-bottom: 20px;
    background: none;
    border: none;
}
.read-more-button--size {
    width: 132px;
    height: 24px;
}
.read-more-button__text{
    font-family: TTLakesMedium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}
.blog__image {
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
}
#more {
    display: none;
}
.menu__item--hidden-repair-devices {
    display: none;
}
.call-icon {
    display: none;
}
.chat-icon {
    display: none;
}
.account-icon {
    display: none;
}
.border-between-logo {
    display: none;
}
.read-more-button--mobile{
    display: block;
}
.read-more-button--tablet {
    display: none;
}
.read-more-button--tablet .read-more-button__icon {
    margin-left: 10px;
    margin-right: 10px;
}
.menu__button--font-style {
    color: #1B1C21;
    font-family: TTLakesRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.menu__button {
    display: none;
}